.wrapper {
    margin-left: 20px;
}

.title {
    margin-top: 125px;
    font-size: 24px;
    color: #000000;
    font-weight: 500;    
}   

.tasks {
    font-size: 16px;
    color: rgba(74, 74, 74, 0.45);
    font-weight: 500;
}